In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)

In [3]:
def mapper(month):
    return month.strftime('%b')

In [4]:
df = pd.read_csv('/content/gdrive/MyDrive/Fiverr Project 10/CornOilGold.csv')
# df.dtypes
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m')
df.index = df['Date']
df['Month'] =  df.index.month
df['Month_name'] = df.index.month_name()
df.head(10)

                 Date    Corn    Oil   Gold  Month Month_name
Date
1983-04-01 1983-04-01  318.25  30.63  433.5      4      April
1983-05-01 1983-05-01  304.50  30.25  418.5      5        May
1983-06-01 1983-06-01  297.25  31.38  418.5      6       June
1983-07-01 1983-07-01  320.25  32.00  427.4      7       July
1983-08-01 1983-08-01  359.50  31.59  424.8      8     August
1983-09-01 1983-09-01  354.75  30.36  407.8      9  September
1983-10-01 1983-10-01  344.75  30.37  378.8     10    October
1983-11-01 1983-11-01  340.75  29.23  409.0     11   November
1983-12-01 1983-12-01  337.25  29.60  388.0     12   December
1984-01-01 1984-01-01  329.25  29.98  379.2      1    January

1. Calculate monthly returns for each of these commodities. Output a tuple (with length = 3) including the arithmetic mean monthly return for these three commodities across the entire observation period.

In [6]:
def total_return(column):
    """
    comment
    """
    return column.mean()

In [9]:
task1_df = df.groupby(['Month_name'], ).apply(total_return)
print(task1_df)
#task1 = df
#task1['output'] = list(zip(task1.Corn.round(2), task1.Oil.round(2), task1.Gold.round(2)))

task1_df = task1_df.sort_values(by=['Month'])
task1 = (task1_df['Corn'].mean(), task1_df['Oil'].mean(), task1_df['Gold'].mean())

task1

                  Corn        Oil        Gold  Month
Month_name
April       336.797297  44.179730  673.221622    4.0
August      316.111111  44.278333  664.058333    8.0
December    319.736111  41.164167  661.458333   12.0
February    333.173611  41.955278  680.772222    2.0
January     322.243056  41.069722  676.277778    1.0
July        309.833333  44.015278  655.211111    7.0
June        322.625000  44.314444  647.102778    6.0
March       332.118056  43.139722  678.433333    3.0
May         335.581081  43.777027  669.981081    5.0
November    315.798611  41.327778  666.222222   11.0
October     310.743056  42.812500  658.886111   10.0
September   304.847222  44.168333  663.744444    9.0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """

(321.6339620870871, 43.01685935935936, 666.2807807807808)

2. Output a tuple (length = 3) including the standard deviation for each commodity’s return across the entire observation period.

In [ ]:
task2 = df[['Corn', 'Oil', 'Gold']]
task2 = tuple(task2.std())

task2

(133.3149165237881, 28.716636754793253, 437.8147563439848)

3. Output a tuple (length = 3) for the returns for these commodities for the month of October, 2008.

In [ ]:
task3 = df[['Corn', 'Oil', 'Gold']]
task3 = task3[task3.index=='2008-10-01']
task3 = (task3['Corn'].values[0], task3['Oil'].values[0], task3['Gold'].values[0])
task3

(401.5, 67.81, 718.2)

4. Output a tuple (length = 3) for the arithmetic mean monthly returns for each commodity over the calendar year 2009.

In [ ]:
task4 = df[['Corn', 'Oil', 'Gold', 'Month_name', 'Month']]
task4 = task4[task4.index >= '2009-01-01']
task4 = task4[task4.index <= "2009-12-31"]

# task4 = task4.groupby(['Month_name'], ).apply(total_return)
# task4['output'] = list(zip(task4.Corn.round(2), task4.Oil.round(2), task4.Gold.round(2)))
task4 = task4.sort_values(by=['Month'])

task4 = (task4['Corn'].mean(), task4['Oil'].mean(), task4['Gold'].mean())
task4

(379.0208333333333, 63.923333333333325, 986.025)

5. Output a tuple (length = 3) for the compounded returns for each commodity over calendar year 2009.

In [ ]:
task5 = df[['Corn', 'Oil', 'Gold']]
task5 = task5[task5.index >= '2009-01-01']
task5 = task5[task5.index <= "2009-12-31"]

task5

from scipy import stats 

task5 = (stats.gmean(task5['Corn']), stats.gmean(task5['Oil']),stats.gmean(task5['Gold']))
task5

(377.52588849424825, 62.504760882429544, 982.9326855107304)

6. Annualize your answer from question 4 by multiplying the mean monthly returns by 12. Compare this arithmetic yearly return to the compounded (geometric) yearly return from question 5. Output a tuple (length = 3) of the differences between these two ways of calculating annual returns. Be sure to calculate as the geometric return minus the arithmetic return.

In [ ]:
task4 = task4 * 12
task6 = tuple(x-(y*12) for x,y in zip(task5,task4))
task6

(-4170.724111505751, -704.5752391175704, -10849.36731448927)

7. Each month, rank the commodities by their monthly return and assign them to a group with 1 = lowest return and 3 = highest return. For now, this is straightforward with only three commodities every month. In the future, we will group a larger number of commodities into three groups in a similar manner. Create three new monthly data series, one for each commodity, and store the ranking (1, 2, or 3) for each commodity for that month. Output a tuple (length = 3) showing the average ranking score for each commodity across the entire observation period.

In [ ]:
def ranker_corn(df):
    if df[['Corn','Oil', 'Gold']].min() == df['Corn']:
        return 1
    elif df[['Corn','Oil', 'Gold']].max() == df['Corn']:
        return 3
    else:
        return 2

def ranker_oil(df):
    if df[['Corn','Oil', 'Gold']].min() == df['Oil']:
        return 1
    elif df[['Corn','Oil', 'Gold']].max() == df['Oil']:
        return 3
    else:
        return 2
 
def ranker_gold(df):
    if df[['Corn','Oil', 'Gold']].min() == df['Gold']:
        return 1
    elif df[['Corn','Oil', 'Gold']].max() == df['Gold']:
        return 3
    else:
        return 2

task7 = df[['Corn','Oil', 'Gold']].copy()

task7['Rank_corn'] = task7.apply(ranker_corn, axis=1)
task7['Rank_oil'] = task7.apply(ranker_oil, axis=1)
task7['Rank_gold'] = task7.apply(ranker_gold, axis=1)

task_7 = (task7['Rank_corn'].mean(), task7['Rank_oil'].mean(), task7['Rank_gold'].mean())
task_7

(2.0092165898617513, 1.0, 2.9907834101382487)

8. Now we will create trend-following portfolios. Each month, we will follow an investment strategy that buys the future contract for the top-performing commodity in the previous month, and sells short the lowest-performing commodity in the prior month. (Be sure that you are using last month’s ranking variable and not the coincident ranking variable!) Start by forming a monthly time series for each of these three portfolios. For example, you could create a “Lowest” series and store the lowest ranked return each month into that series, and similarly create a “Middle” and “Highest” series including the appropriate returns. Output a tuple (length = 3) with the arithmetic mean monthly returns for these three portfolios, ordered as (lowest, middle, highest).

In [ ]:
task8=task7.copy()
task8["Lowest"]=task8[["Corn","Oil","Gold"]].min(axis=1)
task8["Middle"]=task8[["Corn","Oil","Gold"]].mean(axis=1)
task8["Highest"]=task8[["Corn","Oil","Gold"]].max(axis=1)

task_8 = (task8['Lowest'].mean(), task8['Middle'].mean(), task8['Highest'].mean())
task_8

(43.02129032258063, 343.67587557603684, 666.6926267281103)

9. Create a series that represents the returns to an investment strategy that, each month, buys the top ranked commodity and sells short the bottom ranked commodity. (This is easily achieved by subtracting the “Lowest” series from the “Highest” series.) Calculate the average annual return (monthly arithmetic return times 12), the annualized standard deviation (the monthly standard deviation times the square root of 12), and the Sharpe ratio (annual return divided by annualized standard deviation) for this portfolio. Output these three summary statistics as a tuple (return, standard deviation, Sharpe ratio).

In [ ]:
task9=task8.copy()
task9["Strategy_Return"] = task9["Highest"] - task9["Lowest"]
annual_return = task9["Strategy_Return"].mean()*12
annual_std = task9["Strategy_Return"].std() * np.sqrt(12)
sharp_ratio = annual_return/annual_std
output_tuple = (annual_return,annual_std,sharp_ratio)
output_tuple

(7484.056036866361, 1436.2450235248045, 5.210849064248896)