In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel("Prices2.xlsx")

In [ ]:
df.head()

        Date Contract Month  Price
0 2021-01-01     2021-08-01   1.01
1 2021-01-01     2021-09-01   1.02
2 2021-01-01     2021-10-01   1.03
3 2021-01-01     2021-11-01   1.04
4 2021-01-01     2021-12-01   1.05

In [ ]:
da = df.Date.unique()

In [ ]:
new_dic={}
flag=True
for i in da:
  df1 = df[df.Date==i]
  a=[i.month for i in df1["Contract Month"]]
  b=[i.year for i in df1["Contract Month"]]
  c=len(a)
  hh=[]
  for w in range(0,c):
    g=(a[w],b[w])
    hh.append(g)
  df1["Month"]=hh
  if flag:
    dfn=pd.DataFrame({"Month":hh})
    flag = False
  df2=pd.DataFrame({"Month":hh})
  if dfn.iloc[1,0]==df2.iloc[1,0]:
    df2=pd.merge(dfn,df2,how="outer")
  else:
    df2=pd.merge(dfn,df2,how="inner")
  a=pd.merge(df2,df1.loc[:,["Month","Price"]],how="outer",on="Month")
  new_dic[i]=a.Price

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
final_df = pd.DataFrame.from_dict(new_dic,orient="index")

In [ ]:
final_df.fillna(method="ffill",axis=0,inplace=True)

In [ ]:
final_df.columns=["Month "+str(int(i)+1) for i in final_df.columns]

In [ ]:
final_df

            Month 1  Month 2  Month 3  ...  Month 29  Month 30  Month 31
2021-01-01     1.01     1.02     1.03  ...       NaN       NaN       NaN
2021-01-02     2.01     2.02     2.03  ...      2.29       2.3      2.31
2021-01-03     3.01     3.02     3.03  ...      2.29       2.3      2.31
2021-01-04     4.01     4.02     4.03  ...      2.29       2.3      2.31
2021-01-05     5.01     5.02     5.03  ...      2.29       2.3      2.31
2021-01-06     6.01     6.02     6.03  ...      2.29       2.3      2.31

[6 rows x 31 columns]

In [ ]:
final_df.to_excel("Final.xlsx")